*.ignore
*.vscode
*.log
*.tmp
*.temp
*.old
*.bak
._*

/.sb
.sb/
*/.sb/**

/.old
.old/
*/.old/**

/.bak
.bak/
*/.bak/**

temp/
/temp
*/temp/**

tmp/
/tmp
*/tmp/**

logs/

.ignore/
/.ignore
*/.ignore/**

.venv/
/.venv
*/.venv/**

node_modules/
/node_modules
*/node_modules/**

[._]*
/._*
._*/
*/._*/**


__*__

